In [1]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse.linalg import svds

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
start_time = time.time()

In [3]:
log_data = pd.read_csv('ratings.csv')
book_data = pd.read_csv('books.csv')

In [4]:
log_data.head()

   book_id  user_id  rating
0        1      314       5
1        1      439       3
2        1      588       5
3        1     1169       4
4        1     1185       4

In [5]:
book_data.drop('id', axis = 1, inplace = True)
book_data.drop('best_book_id', axis = 1, inplace = True)
book_data.drop('work_id', axis = 1, inplace = True)
book_data.drop('books_count', axis = 1, inplace = True)
book_data.drop('isbn', axis = 1, inplace = True)
book_data.drop('isbn13', axis = 1, inplace = True)
# book_data.drop('authors', axis = 1, inplace = True)
book_data.drop('original_publication_year', axis = 1, inplace = True)
book_data.drop('original_title', axis = 1, inplace = True)
book_data.drop('language_code', axis = 1, inplace = True)
book_data.drop('average_rating', axis = 1, inplace = True)
book_data.drop('ratings_count', axis = 1, inplace = True)
book_data.drop('work_ratings_count', axis = 1, inplace = True)
book_data.drop('work_text_reviews_count', axis = 1, inplace = True)
book_data.drop('ratings_1', axis = 1, inplace = True)
book_data.drop('ratings_2', axis = 1, inplace = True)
book_data.drop('ratings_3', axis = 1, inplace = True)
book_data.drop('ratings_4', axis = 1, inplace = True)
book_data.drop('ratings_5', axis = 1, inplace = True)
book_data.drop('image_url', axis = 1, inplace = True)
#book_data.drop('small_image_url', axis = 1, inplace = True)

book_data.head()

,book_id,authors,title,small_image_url
0,2767052,Suzanne Collins,"The Hunger Games (The Hunger Games, #1)",https://images.gr-assets.com/books/1447303603s...
1,3,"J.K. Rowling, Mary GrandPré",Harry Potter and the Sorcerer's Stone (Harry P...,https://images.gr-assets.com/books/1474154022s...
2,41865,Stephenie Meyer,"Twilight (Twilight, #1)",https://images.gr-assets.com/books/1361039443s...
3,2657,Harper Lee,To Kill a Mockingbird,https://images.gr-assets.com/books/1361975680s...
4,4671,F. Scott Fitzgerald,The Great Gatsby,https://images.gr-assets.com/books/1490528560s...

In [6]:
log_data = log_data[['user_id', 'book_id', 'rating']]
log_data.head()

   user_id  book_id  rating
0      314        1       5
1      439        1       3
2      588        1       5
3     1169        1       4
4     1185        1       4

In [7]:
log_data=log_data.drop_duplicates(['user_id','book_id'], keep='first')

In [8]:
user_book_log = log_data.pivot(index = 'user_id', columns='book_id', values='rating').fillna(0)
user_book_log.head()

book_id,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
matrix = user_book_log.values

In [10]:
user_log_mean = np.mean(matrix, axis = 1)

In [11]:
matrix_user_mean = matrix - user_log_mean.reshape(-1, 1)

In [12]:
matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [13]:
matrix.shape

(53424, 10000)

In [14]:
user_log_mean.shape

(53424,)

In [15]:
matrix_user_mean.shape

(53424, 10000)

In [16]:
pd.DataFrame(matrix_user_mean, columns = user_book_log.columns).head()

book_id,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,...,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011,-0.0011
1,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,...,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013,-0.0013
2,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,...,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002,-0.0002
3,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,...,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012,-0.0012
4,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,...,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021,-0.0021

In [17]:
U, sigma, Vt = svds(matrix_user_mean, k = 12)

In [18]:


print(U.shape)
print(sigma.shape)
print(Vt.shape)

(53424, 12)
(12,)
(12, 10000)

In [19]:
sigma = np.diag(sigma)

In [20]:
sigma.shape

(12, 12)

In [21]:
sigma[0]

array([182.42648687,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ])

In [22]:
sigma[1]

array([  0.        , 187.08179553,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ,
         0.        ,   0.        ,   0.        ,   0.        ])

In [23]:
svd_user_predicted_log = np.dot(np.dot(U, sigma), Vt) + user_log_mean.reshape(-1, 1)

In [24]:
df_svd_preds = pd.DataFrame(svd_user_predicted_log, columns = user_book_log.columns)
df_svd_preds.head()

book_id,1,2,3,4,5,6,7,8,9,10,...,9991,9992,9993,9994,9995,9996,9997,9998,9999,10000
0,0.000150,0.000224,-0.000630,0.000683,0.000688,-0.001244,0.000233,-0.000239,0.000563,-0.000151,...,0.001925,0.001671,0.001796,0.001709,0.001715,0.001349,0.001859,0.001771,0.001852,0.001797
1,0.001039,0.001725,0.000468,0.001865,0.001764,-0.001533,0.001791,0.000911,0.001427,0.001171,...,0.002124,0.002126,0.002161,0.002275,0.001896,0.001702,0.002175,0.002152,0.002111,0.002189
2,0.000013,0.000150,0.000043,0.000173,0.000161,-0.000281,0.000172,0.000117,0.000117,0.000131,...,0.000347,0.000296,0.000346,0.000358,0.000328,0.000261,0.000356,0.000341,0.000340,0.000365
3,-0.002855,-0.003767,-0.003390,-0.003003,-0.002688,-0.001774,-0.003131,-0.003648,-0.001711,-0.004185,...,0.001498,0.001396,0.001303,0.000730,0.001595,0.000764,0.001450,0.001448,0.001376,0.001395
4,0.002192,0.002953,0.001490,0.003017,0.002885,-0.001369,0.002178,0.001878,0.002554,0.002302,...,0.003028,0.002948,0.003071,0.002937,0.002443,0.003622,0.003097,0.003094,0.003099,0.002972

In [25]:
df_svd_preds.shape

(53424, 10000)

In [26]:
def recommend_movies(df_svd_preds, user_Id, ori_books_df, ori_log_df, num_recommendations=5):
  user_row_number = user_Id - 1 
  sorted_user_predictions = df_svd_preds.iloc[user_row_number].sort_values(ascending=False)
  user_data = ori_log_df[ori_log_df.user_id == user_Id]
  user_history = user_data.merge(ori_books_df, on = 'book_id').sort_values(['rating'], ascending=False)
  recommendations = ori_books_df[~ori_books_df['book_id'].isin(user_history['book_id'])]
  recommendations = recommendations.merge( pd.DataFrame(sorted_user_predictions).reset_index(), on = 'book_id')
  recommendations = recommendations.rename(columns = {user_row_number: 'Predictions'}).sort_values('Predictions', ascending = False).iloc[:num_recommendations, :]

  return user_history, recommendations

In [27]:
already_rated, predictions = recommend_movies(df_svd_preds, 330, book_data, log_data, 10)

In [28]:
already_rated.head(10)

Empty DataFrame
Columns: [user_id, book_id, rating, authors, title, small_image_url]
Index: []

In [29]:
predictions

,book_id,authors,title,small_image_url,Predictions
472,5181,Bret Lott,Jewel,https://s.gr-assets.com/assets/nophoto/book/50...,0.001835
616,5752,Steven Pinker,The Blank Slate: The Modern Denial of Human Na...,https://s.gr-assets.com/assets/nophoto/book/50...,0.001785
707,4507,Julie Gregory,Sickened: The Memoir of a Munchausen by Proxy ...,https://s.gr-assets.com/assets/nophoto/book/50...,0.001716
258,5204,Joyce Carol Oates,We Were the Mulvaneys,https://images.gr-assets.com/books/1309282868s...,0.001662
337,4325,Sarah Dessen,Dreamland,https://images.gr-assets.com/books/1385861832s...,0.001639
175,2526,"José Saramago, Giovanni Pontiero",Blindness,https://images.gr-assets.com/books/1327866409s...,0.001634
270,4952,Dave Eggers,What Is the What,https://images.gr-assets.com/books/1328837457s...,0.001538
468,3977,Dan Simmons,"Endymion (Hyperion Cantos, #3)",https://images.gr-assets.com/books/1329611385s...,0.001487
138,5113,J.D. Salinger,Franny and Zooey,https://images.gr-assets.com/books/1355037988s...,0.001473
349,3679,Zadie Smith,On Beauty,https://images.gr-assets.com/books/1495961870s...,0.001468

In [30]:
end_time = time.time()
print("WorkingTime: {} sec".format(end_time-start_time))

WorkingTime: 43.487653970718384 sec